@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Desafio FSBR</h1>
    <br>
    <p>Para este desafio utilizei o framework .NET 9 e Entity framework.</p>
    <p>Como SQL utilizei o SQLite com migrations e incluí o arquivo no projeto com o nome de processos.db </p>
    <p>Para paginação utiliei o pacote X.PagedList e para a API do IBGE o Newtonsoft.Json.</p>
    <p>O front-end está padrão MVC sem customização.</p>
</div>
